{% extends 'catalog/base.html' %}
{% load mediapath_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="card-img-top" style="width: auto; max-width: 100%; max-height: 100%; object-fit: contain;" src="{% mediapath object.preview_image %}" alt="{{ product.title }}">
            </div>
            <div class="col-md-6">
                <h2>Блог "{{ object.title }}" - "{{ object.slug }}"</h2>
                <p>{{ object.content }}</p>
            </div>
            <div class="card-footer">
                Просмотров: {{ object.views_count }}
            </div>
        </div>
    </div>
{% endblock %}