{% extends 'catalog/base.html' %}
{% load mediapath_tags %}

{% block products %}
    {% for object in object_list %}
        <div class="col-mad-4">
            <div class="card mb-3 box-shadow" style="width: 310px; margin: 5px;height: 450px;">
                <div class="card-img-container" style="display: flex;justify-content: center;align-items: center;width: 300px;height: 250px;overflow: hidden;">
                    <img class="card-img-top" style="width: auto;max-width: 100%;max-height: 100%;object-fit: contain;" src="{% mediapath object.image %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="card-text">{{ object.title | title }}</h3>
                    <p>{{ object.purchase_price }} руб.</p>
                    <small>({{ object.category | title }})</small>
                    <p>{{ object.description | title |truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" type="button" class="btn btn-sm btn-outline-secondary">редактировать</a>
                        </div>
                        <small class="text-muted">{{ object.last_modified_date }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}