{% extends 'catalog/base.html' %}

{% block products %}
    {% for object in object_list %}
        <div class="col-mad-4">
        <div class="card mb-4 box-shadow">
            <div class="card-img-container">
  <img class="card-img-top" src="/media/{{ object.image }}" alt="Card image cap">
</div>
<!--            <img class="card-img-top" src="/media/{{ object.image }}" alt="Card image cap">-->
            <div class="card-body">
                <h3 class="card-text">{{ object.title | title }}</h3>
                <p>{{ object.purchase_price }} руб.</p>
                <small>({{ object.category | title }})</small>
                <p>{{ object.description | title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" type="button" class="btn btn-sm btn-outline-secondary">редактировать</a>
                    </div>
                    <small class="text-muted">{{ object.last_modified_date }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}