{% extends 'catalog/base.html' %}
{% load mediapath_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="card-img-top" style="width: auto; max-width: 100%; max-height: 100%; object-fit: contain;" src="{% mediapath product.preview %}" alt="{{ product.title }}">
            </div>
            <div class="col-md-6">
                <h2>{{ product.title }}</h2>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.purchase_price }} руб.</p>
                <small>Категория: "{{ object.category | title }}"</small>
                <br>
                <small class="text-muted">Создано: {{ object.created_at }}</small>
            </div>

        </div>
    </div>
{% endblock %}